<div id="container">
  <div class="drop-shadow header">
    <h1>CZAJAVITAE</h1>
    <p>William Paul Czaja</p>
    <p>    
      <%= link_to "About", pages_about_path %>
      <%= link_to "Projects", pages_projects_path %>
    </p>
  </div>
  <div id="leftbar">
    <p>
  </div>
  <div class="drop-shadow curved curved-vt-2 centerpage">
    <br>
    <br>
    <br>
    <br>
    <% @posts.each do |post| %>
      <h2><%= post.title %></h2>
      <p><%= post.date.strftime("%b. %d %Y %I:%M%p") %></p>
      <p><%= post.content %></p>
      <hr>
    <% end %>

  </div>
  <div id="rightbar">
    <p>
  </div>
</div>


